header{
  background-color: #1b1e23;
  padding: 15px 25px 0px 0px;

}
ul li{
  list-style-type: none;
  padding: 0px 30px 0px 30px;
}
a{
  color: wheat !important;
  text-decoration: none !important;
}
:root{
  --Yellow-color:#ffcd4c;
  --yello-txt:#f9d67c;
  --gray-color:#27292e;
  --black-txt:#1b1e23;
  --backgroundd-color:#1b1e23;
}
input {
  flex: 1;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}