
  .cont {
    margin: auto;
  }
  
  .registerbox {
    text-align: center;
    margin: 150px auto;
    display: flex;
    justify-content: center;
  }
  
  .registerback {
    background-color: #1b1e23;
    border: 2px solid #ffcd4c;
    padding: 50px;
    border-radius: 8px;
    color: white;
    width: 100%;
    max-width: 500px;
  }
  
  .inputbox {
    display: flex;
    flex-direction: column;
  }
  
  .input-detile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .input-label {
    width: 100px;
    text-align: left;
    margin-right: 10px;
  }
  
 
  
  .btnform {
    padding: 10px 20px;
    border: none;
    background-color: #ffcd4c;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  